.navbar {
    background-color: #f4DFBA;
}

a {
    color: #876445;
    transition: .3s;
  }
  
a:hover {
    color: black;
  }

h2 {
    color: #CA965C
  }

p, h4 {
    color: #876445;
}

img {
    width: 100px;
    height: 100px;
    margin-left: 50px;
}
